/*Bit of info I always forget:
    margin -space outside the box
    padding - space inside the box
    order is clockwise -top, right, bot, left
*/
#wrapper {
    padding: 100px;
	width: 80%;
	margin: auto;
}

.tabs {
    height: 45px;
    width: 93%;
    padding: 0 0 0 0;
    user-select: none;
    -moz-user-select: none;
}

.tab {
    width: 130px;
    height: 45px;
    text-align: center;
    overflow: hidden;
    float: left;
    margin: 0 -15px 0 0;
}


.inner-tab {
    height: 47px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid;
    overflow: hidden;
    margin: 0 10px 0 10px;
}

.tab.activeTab {
    z-index: 2;
    position: relative;
    padding-bottom: 1px;
}

#closeButton {
    color: #808080;
    background: #fff;
    top: 0;
    right: 0;
    border: none;
    float:right;
}
#closeButton:hover {
    color:#ff0000;
}

.inner-tab p {
    float: left;
    width: 79%;
}

.loginBox {
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 35%;
    left: 35%;
    position: absolute;
    padding: 70px 30px 70px 30px;
    box-sizing: border-box; /*when calculating 320 width, include padding and borders*/
    z-index: 2; /*+1 higher than the layer under*/

    display:none;
}
    .loginBox h1 {
        margin:0;
        padding-bottom: 20px;
        text-align: center;
        font-size: 22px;
    }
    .loginBox label {
        font-weight: bold;
    }
    .loginBox input {
        width: 100%;
        margin-bottom: 20px;
    }
    .loginBox #userName, #userPasswd {
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent; /*kill color in the edit box, see the background*/
        outline: none; /*An outline is a line that is drawn around elements, outside the borders, to make the element "stand out".*/
        height: 30px;
        color: #fff;
        font-size: 16px;
    }
    .loginBox #subtmitBtn {
        border: none;
        outline: none;
        height: 40px;
        background: #808080;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
    }
    .loginBox #subtmitBtn:hover {
        cursor: pointer;
        background: #ffc107;
        color: #000;
    }
    .loginBox a {
        text-decoration: none;
        font-size: 16px;
        line-height: 20px;
        color: dimgrey;
    }
    .loginBox a:hover {
        color: #ffc107;
    }
    .loginBox .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%; /*make round corners*/
        position: absolute;
        top: -50px; /*with a height of 100, we move it half way above the container*/
        left: 100px; /*and roughly in the middle of the width of container*/
    }

#content {
    position: relative;
    z-index: 1;
}

.activeEditorWindow {
    width: 100%;
    min-height: 500px;
    line-height: normal;
    font-size: 18px;
    white-space: pre; /*set line to continue in one line instead of breaking*/
    /*overflow: auto;*/ /*this would make our content scroll horizontally, but it breaks out little trick with the buttons above*/
    border: 1px solid;
    padding: 5px 0 20px 10px;
    z-index: 1;
    position: relative;
    display: block;
}
.hiddenEditorWindow {
    display: none;
}

#lineNumbering {
    width:4%;
    top:0;
    left:-4%;
    border: 1px solid;
    margin-top: 5px;
    background-color: white;
    border: none;
    border-color: dimgrey;
    border-right: dotted;
    line-height: normal;
    font-size: 18px;
    text-align: right;
    color: dimgray;
    position: absolute;
}

#solutionWindow {
    width: 15%;
    height:50%;
    top: 50px;
    right: 2px;
    border: 1px solid;
    background-color: white;
    text-align: left;
    font-weight: bold;
    resize:both;
    overflow: auto;
    position: absolute;
    z-index: 3; /*higher z-index makes it cover the underlaying element with lower z*/
}
    #solutionWindow #solutionWindowHeader {
        padding: 1%;
        cursor: move;
        z-index: 3;
        background-color: #808080;
        color: #fff;
        user-select: none;
        -moz-user-select: none;
    }
    #solutionWindow ul, #myUL {
        list-style-type: none;
    }
    #solutionWindow #myUL {
        margin: 0;
        padding: 0;
    }
    #solutionWindow .decoration {
        user-select: none;
        -moz-user-select: none;
    }
    #solutionWindow .expand {
        color: black;
        display: inline-block;
        margin-right: 6px;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
    }
    #solutionWindow .expand-down {
        transform: rotate(90deg);
    }
    #solutionWindow .nested {
        display: none;
    }
    #solutionWindow .active {
        display: block;
    }

.solutionMenu {
    margin: 0;
    padding: 0;
    min-width: 150px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 1px solid;
    border-color: #808080;
    background-color: #ccc;
    position: absolute;
    z-index: 100;
    display: none; /*hidden until called on right click*/
}
    .solutionMenu .separatorLine {
        height: 1px;
        background-color: #808080;
        margin: 2px 0 2px 0;
        user-select: none;
        -moz-user-select: none;
    }
    .solutionMenu ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .solutionMenu .options {
        padding: 10px 5px 10px 5px;
        border-left: 4px solid transparent;
        cursor: pointer;
    }
    .solutionMenu .options:hover {
        background: #eee;
        border-left: 4px solid #666;
    }

#output {
	clear: both;
	width: 90%;
	height: 20%;
	padding-bottom: 50px;
	padding-top: 50px;
}

#footer {
	clear: both;
	height: 30px;
	background-color: #000;
	color: #fff;
	text-align: center;
	padding-top: 10px;
}




@media only screen and (max-width: 300px) {
  .text {
	  font-size: 11px
	  }
}
